bin/
.vs/Mango/DesignTimeBuild/.dtbcache.v2
.vs/Mango/FileContentIndex/d9ff4264-8938-4b94-8ea2-999721405869.vsidx
.vs/Mango/v17/.futdcache.v2
.vs/Mango/v17/.suo
.vs/MangoScript/FileContentIndex/3c3fead7-3836-467b-aa9d-51813d0be208.vsidx
.vs/MangoScript/FileContentIndex/5bbc3e4a-8dab-4491-ad2d-b9413773cbc3.vsidx
.vs/MangoScript/FileContentIndex/68927a11-dfcb-4bfd-a3bb-67add76bd6c2.vsidx
.vs/MangoScript/FileContentIndex/f49cf446-c6df-41a8-b04d-464875f6d722.vsidx
.vs/ProjectEvaluation/mango.metadata.v7.bin
.vs/ProjectEvaluation/mango.projects.v7.bin
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Mango.AssemblyInfo.cs
obj/Debug/net8.0/Mango.AssemblyInfoInputs.cache
obj/Debug/net8.0/Mango.assets.cache
obj/Debug/net8.0/Mango.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/Mango.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Mango.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Mango.dll
obj/Debug/net8.0/Mango.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Mango.genruntimeconfig.cache
obj/Debug/net8.0/Mango.GlobalUsings.g.cs
obj/Debug/net8.0/Mango.pdb
obj/Debug/net8.0/Mango.sourcelink.json
obj/Debug/net8.0/ref/Mango.dll
obj/Debug/net8.0/refint/Mango.dll
obj/Mango.csproj.nuget.dgspec.json
obj/Mango.csproj.nuget.g.props
obj/Mango.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
